<template>
  <q-layout view="hHh lpR fFf">
    <q-header class="bg-primary text-white">
      <q-toolbar>
        <q-toolbar-title>
          <q-avatar>
            <img src="images/logo.png" />
          </q-avatar>
          Universo
        </q-toolbar-title>
      </q-toolbar>
    </q-header>

    <q-page-container class="flex flex-center"  style="background: center / cover no-repeat url(images/background.jpg) rgb(10, 10, 10);  min-height: 100vh;">
      <div class="flex flex-center column">
      <q-img

        src="images/logo.png"

        width="233px"
      />
      <q-btn class="q-my-xl" color="primary" label="В будущее" :to = "{name: 'login'}"  />
      <div class="text-center text-white " style=" font-family: Jura;
font-size: 26px;
font-weight: 700;
line-height: 34px;
letter-spacing: 0em;

max-width: 800px;">Погрузитесь через РВМ Универсо в гипервселенную — бесконечное пространство исследований, цифровизации и социального взаимодействия.</div>
    </div>
    </q-page-container>
  </q-layout>
</template>

<script lang="ts">
import { defineComponent, ref } from 'vue';

export default defineComponent({
  name: 'IndexLayout',

  setup() {
    return {};
  },
});
</script>
