<template>
  <q-layout view="hHh LpR fFf">
    <q-header
      reveal
      bordered
      class="bg-primary text-white"
      v-if="$q.screen.lt.sm"
    >
      <q-toolbar>
        <q-btn dense flat round icon="menu" @click="toggleLeftDrawer" />

        <q-toolbar-title class="text-h6 text-weight-bold">
          <q-avatar>
            <img src="images/logo.png" />
          </q-avatar>
          Universo
        </q-toolbar-title>
      </q-toolbar>
    </q-header>
    <q-drawer
      v-model="leftDrawerOpen"
      side="left"
      :overlay="$q.screen.lt.sm"
      show-if-above
      :width="200"
      :breakpoint="500"
      bordered
      class="'bg-grey-3'"
    >
      <q-scroll-area class="fit">
        <q-list>
          <q-item
            clickable
            v-ripple
            class="q-mb-xl q-mt-sm"
            v-if="$q.screen.gt.xs"
            :to = "{name: 'start'}"
          >
            <q-item-section avatar>
              <q-avatar>
                <img src="images/logo.png" />
              </q-avatar>
            </q-item-section>
            <q-item-section class="text-h6 text-weight-bold"
              >Universo</q-item-section
            >
          </q-item>
          <template v-for="(menuItem, index) in menuList" :key="index">
            <q-item clickable v-ripple :to="{ name: menuItem.to }" v-if="menuItem.requireAuth ===!! getUserId">
              <q-item-section avatar>
                <q-icon :name="menuItem.icon" />
              </q-item-section>
              <q-item-section class="text-body1 text-weight-bold">
                {{ menuItem.label }}
              </q-item-section>
            </q-item>
            <q-separator :key="'sep' + index" v-if="menuItem.separator &&menuItem.requireAuth ===!! getUserId" />
          </template>
          <q-item
            clickable
            v-ripple
            :to="!getUserId ? { name: button.to } : ''"
            @click="getUserId ? onLogout() : ''"
          >
            <q-item-section avatar>
              <q-icon :name="button.icon" />
            </q-item-section>
            <q-item-section class="text-body1 text-weight-bold">
              {{ button.label }}
            </q-item-section>
          </q-item>
        </q-list>
      </q-scroll-area>
    </q-drawer>

    <q-page-container>
      <router-view />
    </q-page-container>
  </q-layout>
</template>

<script>
import { ref } from 'vue';
import { useCurrentUserStore } from 'src/stores/current-user';
import { mapState, mapActions } from 'pinia';
import { LocalStorage } from 'quasar';

const menuList = [
  {
    icon: 'inbox',
    to: 'projects',
    label: 'Проекты',
    separator: false,
    requireAuth: true,
  },
  {
    icon: 'manage_accounts',
    to: 'profile',
    label: 'Профиль',
    separator: true,
    requireAuth: true,
  },
  // {
  //   icon: 'delete',
  //   label: 'Trash',
  //   separator: false
  // },
  // {
  //   icon: 'error',
  //   label: 'Spam',
  //   separator: true
  // },
  // {
  //   icon: 'settings',
  //   label: 'Settings',
  //   separator: false
  // },
  // {
  //   icon: 'feedback',
  //   label: 'Send Feedback',
  //   separator: false
  // },
];
const loginButton = {
  logout: {
    icon: 'logout',
    to: '',
    label: 'Выход',
    separator: false,
  },
  login: {
    icon: 'login',
    to: 'login',
    label: 'Вход',
    separator: false,
  },
};

export default {
  setup() {
    const leftDrawerOpen = ref(false);

    return {
      loginButton,
      menuList,
      leftDrawerOpen,
      toggleLeftDrawer() {
        leftDrawerOpen.value = !leftDrawerOpen.value;
      },
    };
  },
  methods: {
    ...mapActions(useCurrentUserStore, ['getMe', 'logout']),
    onLogout() {
      this.logout()
        .then((res) => {
          console.log('result', res);
          this.$router.push({ name: 'start' });
        })
        .catch((res) => {
          console.log('error', res);
        });
    },
  },
  computed: {
    ...mapState(useCurrentUserStore, ['getUserId']),
    button() {
      return this.getUserId ? this.loginButton.logout : this.loginButton.login;
    },
  },
  mounted() {
    if (LocalStorage.getItem('jwt_token')) {
      this.getMe();
    }
  },
};
</script>
